<h1>Customer Information</h1>
	<ul>
		<li><%= @customer.name %>
		</li>
		<li><%= @customer.email %>
		</li>
		<li><%= @customer.phone %>
		</li>
		<br>
		<% if @customer.ramens.length > 0 %>
			<p>Bowls: <% @customer.ramens.each do |r| %>
				<ul>
					<li>Noodles: <%= r.noodles %></li>
					<li>Broth: <%= r.broth %></li>
					<li>Spicy: <%= r.spicy %></li>
					<% if r.egg %>
						<li>Egg</li>
					<% end %>
					<% if r.bean_sprouts %>
						<li>Bean Sprouts</li>
					<% end %>
					<% if r.mushrooms %>
						<li>Mushrooms</li>
					<% end %>
					<% if r.broccoli %>
						<li>Broccoli</li>
					<% end %>
					<% if r.corn %>
						<li>Corn</li>
					<% end %>
					<% if r.spicy_miso %>
						<li>Spicy Miso</li>
					<% end %>
					<% if r.extra_pork %>
						<li>Extra Pork</li>
					<% end %>
					
				</ul>
			<% end %>
			</p>
			<% else %>
			<p>Get some Ramen!</p>
		<% end %>

		<%= link_to "Edit", edit_customer_path(@customer) %>
		<br>
	</ul>
